{% extends 'components/public/base.html' %} {% set active_page = 'system_data' %} {% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper d-flex bg-body-tertiary min-vh-100">
  <div class="container my-auto">
    <div class="row justify-content-center align-items-center pt-6rem pb-5">
      <div class="col-lg-10">
        <div class="card shadow rounded-3">
          <div class="card-body p-lg-5 py-5 px-4">
            <div class="text-center mb-5">
              <h3 class="fw-bold fs-4 mb-0">{{operation}} Sub Kriteria</h3>
            </div>
            <form method="POST">
              {{ form.hidden_tag() }}
              <div class="mb-3">
                {{ form.criteria.label(class="form-label") }} {% if form.criteria.errors %} {{ form.criteria(class="form-select is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.criteria.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.criteria(class="form-select") }} {% endif %}
              </div>
              <div class="mb-3">
                {{ form.name.label(class="form-label") }} {% if form.name.errors %} {{ form.name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.name.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.name(class="form-control") }} {% endif %}
              </div>
              <div class="mb-3">
                {{ form.value.label(class="form-label") }} {% if form.value.errors %} {{ form.value(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.value.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.value(class="form-control") }} {% endif %}
              </div>
              <div class="d-flex flex-row justify-content-end align-items-center column-gap-2">
                <a class="btn btn-secondary" href="{{ url_for('public_app.sub_criteria') }}" role="button">Batal</a>
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Page Wrapper -->
{% endblock %}
