{% extends 'components/public/base.html' %} {% set active_page = 'system_data' %} {% block content %}
<!-- Banner -->
<div class="banner d-flex bg-hero h-20rem">
  <div class="container my-auto">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-10">
        <div class="text-white text-center">
          <h2 class="fw-bold fs-3 title-clamp-2 mb-0">Jenis Wisata</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Banner -->

<!-- Page Wrapper -->
<div class="page-wrapper bg-body-tertiary">
  <div class="container">
    <div class="row justify-content-center align-items-center pt-5">
      <div class="col-lg-10">
        <div class="d-flex flex-column row-gap-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center align-items-center mb-0">
              <li class="breadcrumb-item"><a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for('public_app.services') }}">Layanan</a></li>
              <li class="breadcrumb-item"><a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for('public_app.system_data') }}">Data Sistem</a></li>
              <li class="breadcrumb-item active" aria-current="page">Jenis Wisata</li>
            </ol>
          </nav>
          {% if current_user.role == "admin" %}
          <div class="text-center">
            <a class="btn btn-success rounded-5 py-1 px-3" href="{{ url_for('public_app.create_tour_type') }}" role="button">Tambah</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if datas.total > 0 %}
    <div class="row flex-column justify-content-center align-items-center row-gap-4 py-5">
      {% for data in datas %}
      <div class="col-lg-5">
        <div class="card shadow-sm rounded-3">
          <div class="card-body p-4">
            <div class="d-flex flex-column row-gap-3">
              <h6 class="fw-semibold fs-5 text-clamp-2 mb-0">{{ data.name }}</h6>
              {% if current_user.role == "admin" %}
              <div class="d-flex flex-row justify-content-start column-gap-2">
                <a class="btn btn-danger rounded-5 py-1 px-3" href="#" role="button" data-bs-toggle="modal" data-bs-target="#deleteDataModal{{ data.id }}">Hapus</a>
                <a class="btn btn-primary rounded-5 py-1 px-3" href="{{ url_for('public_app.update_tour_type', id=data.id) }}" role="button">Edit</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- Delete Modal -->
      <div class="modal fade" id="deleteDataModal{{ data.id }}" tabindex="-1" aria-labelledby="deleteDataModalLabel{{ data.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteDataModalLabel{{ data.id }}">Hapus Data</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="mb-0">Apakah Anda yakin ingin menghapus data ini?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary rounded-5 py-1 px-3" data-bs-dismiss="modal">Batal</button>
              <a href="{{ url_for('public_app.delete_tour_type', id=data.id) }}" class="text-decoration-none">
                <button type="submit" class="btn btn-danger rounded-5 py-1 px-3">Hapus</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Delete Modal -->
      {% endfor %}
    </div>
    <div class="row pb-5">
      <div class="col-lg-12">
        <nav>
          <ul class="pagination justify-content-center align-items-center mb-0">
            {% for page_num in datas.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if page_num %} {% if datas.page == page_num %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ page_num }}</span>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('public_app.tour_type', page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endif %} {% else %}
            <li class="page-item">
              <span class="page-link">...</span>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    {% else %}
    <div class="row justify-content-center align-items-center py-5">
      <div class="col-lg-10">
        <div class="text-center">
          <p class="text-muted mb-0">Tidak ada data yang tersedia.</p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<!-- End of Page Wrapper -->

<!-- Toast -->
{% include 'components/public/includes/toast.html' %}
<!-- End of Toast -->
{% endblock %} {% block javascript %}
<script>
  $(function () {
    $(".toast").toast("show");
  });
</script>
{% endblock %}
