{% extends 'components/public/base.html' %} {% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper d-flex bg-body-tertiary min-vh-100">
  <div class="container my-auto">
    <div class="row justify-content-center align-items-center pt-6rem pb-5">
      <div class="col-lg-5">
        <div class="card shadow rounded-3">
          <div class="card-body p-lg-5 py-5 px-4">
            <div class="text-center mb-5">
              <h3 class="fw-bold fs-4 mb-0">Pengaturan ulang password</h3>
            </div>
            <form method="POST">
              {{ form.hidden_tag() }}
              <div class="mb-3">
                {{ form.password.label(class="form-label") }} {% if form.password.errors %} {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.password(class="form-control") }} {% endif %}
              </div>
              <div class="mb-3">
                {{ form.confirm.label(class="form-label") }} {% if form.confirm.errors %} {{ form.confirm(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.confirm.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.confirm(class="form-control") }} {% endif %}
              </div>
              <div class="d-grid">{{ form.submit(class="btn btn-primary") }}</div>
            </form>
          </div>
          <div class="card-footer p-3">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <a class="small text-decoration-none" href="{{ url_for('control_panel_app.register') }}">Buat sebuah akun!</a>
              <a class="small text-decoration-none" href="{{ url_for('control_panel_app.login') }}">Sudah memiliki akun? Masuk!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Page Wrapper -->
{% endblock %}
