<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <!-- Favicon -->
    {% include 'components/public/includes/favicon.html' %}

    <!-- Fonts -->
    {% include 'components/public/includes/fonts.html' %}

    <!-- Styles -->
    {% include 'components/public/includes/styles.html' %} {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <!-- Navbar -->
    {% include 'components/public/includes/navbar.html' %}
    <!-- End of Navbar -->

    {% block content %}{% endblock %}

    <!-- Footer -->
    {% include 'components/public/includes/footer.html' %}
    <!-- End of Footer -->

    <!-- Scripts -->
    {% include 'components/public/includes/scripts.html' %} {% block javascript %}{% endblock %}
  </body>
</html>
