{% extends 'components/public/base.html' %} {% set active_page = 'tour_list' %} {% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper d-flex bg-body-tertiary min-vh-100">
  <div class="container my-auto">
    <div class="row justify-content-center align-items-center pt-6rem pb-5">
      <div class="col-lg-10">
        <div class="card shadow rounded-3">
          <div class="card-body p-lg-5 py-5 px-4">
            <div class="text-center mb-5">
              <h3 class="fw-bold fs-4 mb-0">{{operation}} Daftar Wisata</h3>
            </div>
            <form method="POST">
              {{ form.hidden_tag() }}
              <div class="mb-3">
                {{ form.name.label(class="form-label") }} {% if form.name.errors %} {{ form.name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.name.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.name(class="form-control") }} {% endif %}
              </div>
              <div class="mb-3">
                {{ form.tour_type.label(class="form-label") }} {% if form.tour_type.errors %} {{ form.tour_type(class="form-select is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.tour_type.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.tour_type(class="form-select") }} {% endif %}
              </div>
              <div class="mb-3">
                {{ form.ticket.label(class="form-label") }} {% if form.ticket.errors %} {{ form.ticket(class="form-select is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.ticket.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.ticket(class="form-select") }} {% endif %}
              </div>
              <div class="mb-3">
                {{ form.facility.label(class="form-label") }} {% if form.facility.errors %} {{ form.facility(class="form-select is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.facility.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.facility(class="form-select") }} {% endif %}
              </div>
              <div class="mb-3">
                {{ form.infrastructure.label(class="form-label") }} {% if form.infrastructure.errors %} {{ form.infrastructure(class="form-select is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.infrastructure.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.infrastructure(class="form-select") }} {% endif %}
              </div>
              <div class="mb-3">
                {{ form.transportation_access.label(class="form-label") }} {% if form.transportation_access.errors %} {{ form.transportation_access(class="form-select is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.transportation_access.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.transportation_access(class="form-select") }} {% endif %}
              </div>
              <div class="mb-3">
                {{ form.description.label(class="form-label") }} {% if form.description.errors %} {{ form.description(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.description.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.description(class="form-control") }} {% endif %}
              </div>
              <div class="mb-3">
                {{ form.image.label(class="form-label") }} {% if form.image.errors %} {{ form.image(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.image.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.image(class="form-control") }} {% endif %}
              </div>

              <!-- Distance Fields -->
              <div class="mb-3">
                <label class="form-label">Jarak ke Lokasi</label>
                <div class="distance-fields">
                  {% for distance_form in form.distances %}
                  <div class="d-flex align-items-center mb-2">
                    <!-- Sertakan token CSRF untuk setiap form jarak -->
                    {{ distance_form.csrf_token }} {{ distance_form.location_point(class="form-select me-2") }} {{ distance_form.distance(class="form-control me-2") }}
                    <button type="button" class="btn btn-danger" onclick="removeDistanceField(this)">Hapus</button>
                  </div>
                  {% endfor %}
                </div>
                <button type="button" class="btn btn-secondary" onclick="addDistanceField()">Tambah Jarak</button>
              </div>
              <!-- End of Distance Fields -->

              <div class="d-flex flex-row justify-content-end align-items-center column-gap-2">
                <a class="btn btn-secondary" href="{{ url_for('public_app.tour_list') }}" role="button">Batal</a>
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Development</strong>
      <small>Just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
  </div>
</div>
<!-- End of Toast -->
{% endblock %} {% block javascript %}
<script>
  function showToast(message) {
    var toastEl = document.getElementById("liveToast");
    var toastBody = toastEl.querySelector(".toast-body");
    toastBody.textContent = message;

    var toast = new bootstrap.Toast(toastEl);
    toast.show();
  }

  function addDistanceField() {
    var container = document.querySelector(".distance-fields");
    var newField = container.firstElementChild.cloneNode(true);
    // Hapus nilai input jarak
    newField.querySelector("input").value = "";
    // Dapatkan token CSRF dari form asli dan salin ke form baru
    var csrfToken = document.querySelector("input[name='csrf_token']").cloneNode(true);
    newField.appendChild(csrfToken);
    container.appendChild(newField);
  }

  function removeDistanceField(button) {
    var container = document.querySelector(".distance-fields");
    if (container.childElementCount > 1) {
      button.parentNode.remove();
    } else {
      showToast("Minimal satu jarak harus ada.");
    }
  }
</script>
{% endblock %}
